<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ ASSETS_BASEPATH }}/css/default.css"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block js %}
        <script type="text/javascript" src="{{ ASSETS_BASEPATH }}/js/default.js"></script>
        {% endblock %}
    </body>
</html>
